@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Noto+Sans+Georgian:wght@100;200;300;400;500;600;700;800;900&family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Noto+Sans+Georgian:wght@100;200;300;400;500;600;700;800;900&family=Roboto+Slab:wght@300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

main {
    width: 100%;
}

.section {
    width: 90%;
    margin: 0 auto;
}

.second-part .small {
    display: flex;
    width: 66%;
    justify-content: space-between;
    margin-bottom: 107px;
}

.second-part h3 {
    font-family: Roboto Slab;
    font-size: 55px;
    font-weight: 700;
    line-height: 55.762px;
    margin-bottom: 40px;
}

.second-part h4 {
    color: #1E4681;
    font-size: 25px;
    font-weight: 700;
    line-height: 32.5px;
}

.second-part p {

    font-size: 18px;
    font-weight: 400;
    line-height: 23.4px;
}

.second-part .small div {

    width: 25%;
}

.second-part ul {
    width: 49%;
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
    margin-left: 25px;
}

.second-part li:nth-child(3) {
    width: 89%;
}

@media screen and (min-width: 992px) and (max-width: 1279px) { /*tablet*/

    .second-part h3 {
        font-size: 32px;
        line-height: 32.443px;

    }

    .second-part h4 {
        color: #1E4681;
        font-size: 15px;
        line-height: 19.5px;
    }

    .second-part p {
        font-size: 11px;
        line-height: 14.3px;
    }

    .second-part .small div {
        width: 25%;
    }

    .second-part ul {
        font-size: 14px;
        line-height: 21px;
    }
}

@media screen and (min-width: 320px) and (max-width: 991px) { /*smartphone*/

    .second-part .small {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .second-part h3 {
        font-size: 26px;
        line-height: 26.36px;
    }

    .second-part h4 {
        font-size: 12px;
        line-height: 15.6px;
    }

    .second-part p {
        font-size: 10px;
        line-height: 13px;
    }

    .second-part ul {
        font-size: 12px;
        line-height: 18px;
        /* background-color: pink; */
    }

    .second-part .small div {
        width: 59%;
        margin-bottom: 23px;
    }
}